@import 'materialize';
@import 'base';
@import 'conta';
@import 'login';
@import 'toastr';

html {
  scroll-behavior: smooth;
}

header, main, footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.btn {
  background-color: #00bcd4 !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 1000;
}

//Remove o fundo amarelo dos inputs quando o browser completa automaticamente
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.lista-collection {
  padding: 0 30px;
}

.formulario {
  padding: 30px 0px 0px 0px;
}

.modal-confirm {
  width: 30rem;
  p {
    text-align: center;
  }
}
