@import 'materialize';

header, main, footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.navbar {
  background-color: #7edaf1;
}

.sidenav {
  width: 250px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 1000;
}

.login-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #7edaf1;
  padding: 50px;

  .card-panel {
    padding: 25px 25px 0px;
  }
  img {
    width: 30%;
  }

  .btn {
    background-color: #00bcd4 !important;
  }

  .login-form-text{
    font-weight: bolder;
  }

  .link-text {
    color: green;
    font-weight: bold;
  }

}
