main {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  main {
    padding-left: 0;
  }
}

.navbar-fixed nav {
  background-color: #7edaf1;

  ul li a {
      font-weight: bold;
  }
}

.sidenav {
  width: 250px;
}
