.relatorio-header {
  text-align: center;

  ul {
    float: right !important;
    margin-top: -41px;
    margin-right: 20px;
    width: 90px;

    li {
      float: right;
      margin-left: 20px;
    }
  }

  @media only screen and (max-width : 450px) {
    ul {
      margin-left: 20px;
      float: left !important;
      margin-top: 0px;
      width: 90px;

      li {
        float: left;
        margin-left: 0px;
        margin-right: 20px;
      }
    }
  }

}

.total-resumo {
  font-weight: bold;
}

.div-relatorio {
  padding: 20px 30px 0 30px;
}

.input-ferias-ano {
  margin-top: 1px !important;
}
