<div class="row formulario">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
        <form {{action "cadastrarPaciente" on="submit"}}>
          <div class="row">
            <h4>Novo Paciente</h4>
            <div class="col s12 m10">
                {{input value=nome required=true placeholder="Nome do paciente"}}
            </div>
            <div class="col s12 m2">
                <button type="submit" class="btn wave-effects wave-light">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{outlet}}
