<div class="row formulario">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
        <form {{action "cadastrarPaciente" on="submit"}}>
          <div class="row">
            <h4>Novo Paciente</h4>
            <div class="input-field col s12">
              <label>Nome do paciente</label>
              {{input id="inputNome" value=nome required=true maxlength=33}}
            </div>
          </div>
          <div class="row">
            <div class="col s12 right-align">
              <button type="submit" class="btn wave-effects wave-light">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{modal-confirm idModal="modalConfirmarReativacao" title="Confirmação" content="Já existe um paciente inativo com este nome, deseja reativá-lo?" actionConfirm=(action "reativarPaciente")}}

{{outlet}}
