<button type="button" name="button" class="btn waves-effects waves-light" {{action "criarGrupoSOSVidaFono"}}>Criar Grupo SOS Vida Fono</button>
<br>
<button type="button" name="button" class="btn waves-effects waves-light" {{action "criarGrupoSOSVidaFisio"}}>Criar Grupo SOS Vida Fisio</button>
<br>
<button type="button" name="button" class="btn waves-effects waves-light" {{action "criarGrupoParticular"}}>Criar Grupo Particulares</button>
{{outlet}}
