{{outlet}}

<div class="tabela-header">
  <div class="titulo-tabela">
    <h4>Pacientes</h4>
  </div>
</div>
<div class="tabela-dados">
  <table class="highlight">
    <thead>
      <tr>
          <th>Data</th>
      </tr>
    </thead>

    <tbody>
      {{#each pacientesOrdenados as |paciente|}}
        <tr class="link" {{action "editarPaciente" paciente}}>
          <td>{{paciente.nome}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div id="btnScrollTop" class="fixed-action-btn btn-scroll-top" style="display: none;">
  <a class="btn-floating btn-medium waves-effects waves-light" {{action "scrollUp"}}>
    <i class="material-icons">arrow_upward</i>
  </a>
</div>
