<page>
  <header>
    <nav class="navbar">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right">
        <li><a href="#" {{action "signOut"}}>Sair</a></li>
      </ul>
    </nav>
  </header>

  {{menu-esquerdo}}

  <main>
    {{outlet}}
  </main>
</page>
