<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right">
        <li><a href="#" {{action "signOut"}}>Sair</a></li>
      </ul>
    </div>
  </nav>
</div>

{{menu-esquerdo}}

<main>  
  {{outlet}}
</main>
