<div class="fundo-login"></div>
<div id="login-page" class="row login-page">
  <div class="col s12 m4 offset-m4 z-depth-4 card-panel">
    <form class="login-form" {{action "signIn" on="submit"}}>
      <div class="row" style="margin-bottom: 10px;">
        <div class="col s12 center">
          <img src="/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
          <p class="center login-form-text">Home-Care Control</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">person_outline</i>
          {{input id="email" value=email required=true placeholder="E-mail"}}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">lock_outline</i>
          {{input id="senha" type="password" required=true value=senha placeholder="Senha"}}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
            <p class="center medium-small">
              {{#link-to 'conta' class="link-text" }}Criar conta{{/link-to}}
            </p>
        </div>
      </div>
    </form>
  </div>
</div>
